@model Cliente

<h2>Cadastrar cliente</h2>


<h2>Cep</h2>

<form method="post">

    <fieldset>
        <legend>Dados Pessoais</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Sobrenome" class="control-label"></label>
            <input asp-for="Sobrenome" class="form-control" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DataNascimento" class="control-label"></label>
            <input asp-for="DataNascimento" class="form-control" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cpf" class="control-label"></label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rg" class="control-label"></label>
            <input asp-for="Rg" class="form-control" />
            <span asp-validation-for="Rg" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefone" class="control-label"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CriadoEm" class="control-label"></label>
            <input asp-for="CriadoEm" class="form-control" />
            <span asp-validation-for="CriadoEm" class="text-danger"></span>
        </div>

        <div class="form-group" id="Generos">
            <label>Gêneros</label>
            <select asp-items="@ViewBag.Generos"
                    class="form-control"
                    name="drpGeneros">
                <option> -- SELECIONE -- </option>
            </select>
        </div>
        <div id="check">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="1" id="check">
                <label class="form-check-label">Tu tem problema?</label>
            </div>
        </div>

        <div id="divDef" style='visibility: hidden;'>
            <label asp-for="Deficiencia" class="control-label"></label>

            <input asp-for="Deficiencia" class="form-control" placeholder="Digite qual" />
            <span asp-validation-for="Deficiencia" class="text-danger"></span>
        </div>


</fieldset>


    <div>
        <fieldset>
            <legend>Dados de Endereço</legend>
            <div asp-validation-summary="ModelOnly"
                 class="text-primary"></div>
            <div class="form-group" id="Cep">
                <label asp-for="Endereco.Cep"></label>
                <input type="text" class="form-control"
                       asp-for="Endereco.Cep" />
                <span asp-validation-for="Endereco.Cep"
                      class="text-primary"></span>
            </div>

            <button type="button" id="btnCep" onclick="buscarCEP()" class="btn btn-primary">Buscar</button>


            <div class="form-group" id="Rua">
                <label asp-for="Endereco.End"></label>
                <input type="text" class="form-control"
                       asp-for="Endereco.End" readonly="" />
                <span asp-validation-for="Endereco.End"
                      class="text-primary"></span>
            </div>
            <div class="form-group" id="Bairro">
                <label asp-for="Endereco.Bairro"></label>
                <input type="text" class="form-control"
                       asp-for="Endereco.Bairro" readonly="" />
                <span asp-validation-for="Endereco.Bairro"
                      class="text-primary"></span>
            </div>
            <div class="form-group" id="Cidade">
                <label asp-for="Endereco.Cidade"></label>
                <input type="text" class="form-control"
                       asp-for="Endereco.Cidade" readonly="" />
                <span asp-validation-for="Endereco.Cidade"
                      class="text-primary"></span>
            </div>
            <div class="form-group" id="Estado">
                <label asp-for="Endereco.Uf"></label>
                <input type="text" class="form-control"
                       asp-for="Endereco.Uf" readonly="" />
                <span asp-validation-for="Endereco.Uf"
                      class="text-primary"></span>
            </div>

        </fieldset>

        <input type="submit"
               class="btn btn-success"
               value="Cadastrar"
               asp-action="Cadastrar"
               asp-controller="Cliente" />
    </div>
</form>

<script>

    function buscarCEP() {
        cep = document.getElementById('Endereco_Cep').value;
        console.log(cep);
        var url = "http://apps.widenet.com.br/busca-cep/api/cep/" + cep + ".json";//Sua URL

        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", url, false);
        xhttp.send();//A execução do script pára aqui até a requisição retornar do servidor

        dados = JSON.parse(xhttp.responseText);
        console.log(dados);
        document.getElementById('Endereco_End').value = dados.address;
        document.getElementById('Endereco_Bairro').value = dados.district;
        document.getElementById('Endereco_Cidade').value = dados.city;
        document.getElementById('Endereco_Uf').value = dados.state;

    }
    document.getElementById("check").onclick = function () {
        value = document.getElementById("check").value;
        if (value == 2) {
            document.getElementById("check").value = 1;
            document.getElementById('divDef').style.visibility = 'hidden'
        }
        else {
            document.getElementById("check").value = 2;
            document.getElementById('divDef').style.visibility = 'visible'
        }
    }

</script>


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

