@model Domain.Quarto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Quarto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdQuarto" />
            <div class="form-group">
                <label asp-for="NomeQuarto" class="control-label"></label>
                <input asp-for="NomeQuarto" class="form-control" />
                <span asp-validation-for="NomeQuarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoQuarto" class="control-label"></label>
                <input asp-for="PrecoQuarto" class="form-control" />
                <span asp-validation-for="PrecoQuarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

